In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Penjualan Tiket Bioskop.csv", delimiter=';')
df.head()

            Film      Genre  Age  Gender  TicketPrice  Purchased
0       Avengers     Action   23    Male         12.5          1
1       Frozen 2  Animation   30  Female         10.0          1
2          Joker      Drama   45    Male         15.0          0
3    Toy Story 4  Animation   12  Female          8.0          1
4  The Lion King  Animation   34  Female          9.0          1

In [3]:
inputs = df.drop('Purchased', axis='columns')

In [4]:
target = df['Purchased']

In [5]:
from sklearn.preprocessing import LabelEncoder
le_film = LabelEncoder()
le_genre = LabelEncoder()
le_gender = LabelEncoder()

In [6]:
inputs['film_n'] = le_film.fit_transform(inputs['Film'])
inputs['genre_n'] = le_genre.fit_transform(inputs['Genre'])
inputs['gender_n'] = le_gender.fit_transform(inputs['Gender'])

In [7]:
inputs

,Film,Genre,Age,Gender,TicketPrice,film_n,genre_n,gender_n
0,Avengers,Action,23,Male,12.5,0,0,1
1,Frozen 2,Animation,30,Female,10.0,1,1,0
2,Joker,Drama,45,Male,15.0,2,2,1
3,Toy Story 4,Animation,12,Female,8.0,4,1,0
4,The Lion King,Animation,34,Female,9.0,3,1,0
5,Avengers,Action,28,Male,12.5,0,0,1
6,Frozen 2,Animation,22,Female,10.0,1,1,0
7,Joker,Drama,40,Male,15.0,2,2,1
8,Toy Story 4,Animation,10,Female,8.0,4,1,0
9,The Lion King,Animation,29,Female,9.0,3,1,0
10,Avengers,Action,35,Male,12.5,0,0,1
11,Frozen 2,Animation,32,Female,10.0,1,1,0
12,Joker,Drama,50,Male,15.0,2,2,1
13,Toy Story 4,Animation,8,Female,8.0,4,1,0
14,The Lion King,Animation,25,Female,9.0,3,1,0
15,Avengers,Action,19,Male,12.5,0,0,1
16,Frozen 2,Animation,27,Female,10.0,1,1,0
17,Joker,Drama,39,Male,15.0,2,2,1
18,Toy Story 4,Animation,14,Female,8.0,4,1,0
19,The Lion King,Animation,31,Female,9.0,3,1,0

In [8]:
inputs_n = inputs.drop(['Film', 'Genre', 'Gender'], axis='columns')

In [9]:
inputs_n

    Age  TicketPrice  film_n  genre_n  gender_n
0    23         12.5       0        0         1
1    30         10.0       1        1         0
2    45         15.0       2        2         1
3    12          8.0       4        1         0
4    34          9.0       3        1         0
5    28         12.5       0        0         1
6    22         10.0       1        1         0
7    40         15.0       2        2         1
8    10          8.0       4        1         0
9    29          9.0       3        1         0
10   35         12.5       0        0         1
11   32         10.0       1        1         0
12   50         15.0       2        2         1
13    8          8.0       4        1         0
14   25          9.0       3        1         0
15   19         12.5       0        0         1
16   27         10.0       1        1         0
17   39         15.0       2        2         1
18   14          8.0       4        1         0
19   31          9.0       3        1         0

In [19]:
target

0     1
1     1
2     0
3     1
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    0
12    0
13    1
14    1
15    0
16    1
17    0
18    1
19    1
Name: Purchased, dtype: int64

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [13]:
model.score(inputs_n,target)

1.0

In [21]:
example_data = [[le_film.transform(['Avengers'])[0], le_genre.transform(['Action'])[0], 23, le_gender.transform(['Male'])[0], 12.5]]
prediction = model.predict(example_data)

print(f"Prediction for Avengers, Action, 23, Male, 12.5: {prediction}")

Prediction for Avengers, Action, 23, Male, 12.5: [1]

C:\Users\ACER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [22]:
example_data_2 = [[le_film.transform(['Frozen 2'])[0], le_genre.transform(['Animation'])[0], 30, le_gender.transform(['Female'])[0], 10.0]]
prediction_2 = model.predict(example_data_2)

print(f"Prediction for Frozen 2, Animation, 30, Female, 10.0: {prediction_2}")

Prediction for Frozen 2, Animation, 30, Female, 10.0: [1]

C:\Users\ACER\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(